html, body {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100%;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    font-size: 24px;
    padding: 15px 0;
    border-top: 1px solid #e6e6e6;
}

.dotoApp {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100%;
    flex-direction: column;
    max-width: 400px;
}

.header {}

.header h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    margin: 0;
}

.input-goal {
    padding: 16px;
    border: none;
    /* background: rgba(0, 0, 0, 0.003); */
    /* box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%); */
    width: 100%;
    font-size: 20px;
}

/* .input-goal:before {
    content: '❯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
} */


.header-task {
    display: flex;
    align-items: center;
}

.allComplete {
    font-size: 22px;
    color: #777;
    cursor: pointer;
}

.checked {
    color: black !important;
}

.main {}

.todoList {}

.list-item {
    padding: 0px;
}

.list-item-li-done {
    opacity: 0.5;
}

.list-item-label-done {
    text-decoration: line-through;
    text-decoration-color: rgb(33, 175, 33);
    text-decoration-thickness: 4px;
}

.text-li {
    word-wrap:break-word;
    width: 300px;
}

.visible {
    visibility: visible;
    /* display: none; */
}

.hidden {
    visibility: hidden;
    /* display: flex; */
}

.set-value-li {
    width: 100%;
    /* color: black !important; */
    opacity: 1 !important;
    font: inherit;
    padding: 15px;
}

.item-checkbox {
    cursor: pointer;
}

input::placeholder {
    font-size: 1.2em;
    font-style: italic;
}

.item-text:hover .delete {
    visibility: visible;
}

.delete {
    visibility: hidden;
    color: red;
    transform: scale(1.5);
    cursor: pointer;
    opacity: 1;

}

.footer {
    display: flex;
    align-items: center;
    color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}

.number-items-left {
    /* ￼ float: left;
    ￼ text-align: left; */
}

button {
    border: none;
    background-color: inherit;
    color: #777;
    cursor: pointer;
}

button:hover {
    border: 0.5px solid;
    background-color: rgb(228, 224, 224);
    border-radius: 5px;
    color: inherit;
}

.active {
    border: 0.5px solid;
    border-radius: 5px;
}

.all-button {}

.active-button {}

.completed-button {}

.clear-completed-button {}



/* прячем input checkbox */
input[type="checkbox"] {
    display: none;
}

/* стили для метки */
label {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
}




/* формируем внешний вид чекбокса в псевдоэлементе before */
label:before {
    content: " ";
    color: #000;
    display: inline-block;
    font: 20px/30px Arial;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #FFF;
    border: 1px solid #aba9a9;
    border-radius: 50%;
    border-image: initial;
    vertical-align: middle;
}

/* вариации внешнего вида в зав-ти от статуса checkbox */
/* checked */
input:checked+label:before {
    /* content: "✓✔"; */
    /* content: "✔"; */
    content: "\2714";
    /* line-height: 25px; */
    color: green;
    font-size: 25px;
    font-weight: 400;
    /* background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E'); */
}
